body {
  font-family: "Lato", sans-serif;
}

/* start screen */
#start-screen-wrapper {
  width: 1000px;
  height: 700px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-screen-wrapper h1,
h2 {
  font-family: "Source Code Pro", monospace;
}

#start-screen {
  width: 700px;
  height: 500px;
}

#start-screen h1 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#player {
  display: flex;
  flex-direction: row;
}
.players {
  padding: 10px;
  flex: 20%;
}

#text {
  margin-bottom: 20px;
  text-align: center;
}

#game-button-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-button,
#rules-button,
#play-again-button {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: green;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 10px;
}

#start-button:hover,
#rules-button:hover {
  width: 160px;
  height: 50px;
  background-color: brown;
}

/* Game Rules section */
#game-rules {
  width: 1000px;
  height: 700px;
  position: absolute;
  top: 220px;
  left: 30%;
  margin-left: -200px;
  margin-top: -200px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-rules h2,
h3,
li {
  font-family: "Source Code Pro", monospace;
}

#rules-section {
  width: 700px;
  height: 500px;
}

/* The modal background */
.modalDialog {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalContent {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  max-width: 800px;
  position: relative;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
  border-radius: 3px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Game screen section */
#game-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board-wrapper {
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  background-image: url(../img/brown-sand.jpg);
  background-size: 100% 100%;
  align-items: center;
  border-radius: 25px;
}

#player-1-data-div,
#player-2-data-div {
  width: 265px;
  height: 700px;
  display: flex;
  background-image: url("../img/fine_sand.jpg");
  background-size: 100% 100%;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}

.player-data-div-content {
  height: 550px;
  width: 180px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

table {
  width: 680px;
  height: 680px;
  box-sizing: border-box;
  border-spacing: 0;
  border-radius: 18px;
}

td {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

/* Appropriate css classes given to grid table cells */

.obstacle {
  background-image: url("../img/obstacle/pyramid-image-still.gif");
  background-size: 100% 100%;
}

.apple {
  background-image: url("../img/weapons/apple.gif");
  background-size: 100% 100%;
}

.sword {
  background-image: url("../img/weapons/sword.gif");
  background-size: 100% 100%;
}

.katana {
  background-image: url("../img/weapons/katana.gif");
  background-size: 100% 100%;
}

.axe {
  background-image: url("../img/weapons/axe.gif");
  background-size: 100% 100%;
}

.spear {
  background-image: url("../img/weapons/spear.gif");
  background-size: 100% 100%;
}

.player1 {
  background-image: url("../img/players/aladdin-fight.gif");
  background-size: 100% 100%;
}

.player2 {
  background-image: url("../img/players/jafar-move.gif");
  background-size: 100% 100%;
}

/* styling for players data div */
.player-number {
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 3px;
}

.player-name {
  font-size: 24px;
  margin-bottom: 3px;
}

.player-picture img {
  width: 65px;
  height: 65px;
  margin-bottom: 3px;
}

.player-health {
  display: flex;
  justify-content: space-around;
  font-size: 23px;
  margin-bottom: 3px;
}

.player-weapon-title {
  font-size: 23px;
  margin-bottom: 3px;
}

.player-weapon-picture img {
  width: 50px;
  height: 50px;
  margin-bottom: 3px;
}

.player-weapon-name {
  font-size: 23px;
  text-transform: capitalize;
}

.player-weapon-damage {
  display: flex;
  justify-content: space-around;
  font-size: 23px;
  margin-bottom: 3px;
}

.messages {
  width: 170px;
  height: 140px;
  margin-bottom: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.turn-message {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 5px;
  font-size: 24px;
}

.fight-message {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 5px;
  font-size: 19px;
}

.buttons {
  width: 160px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

button:focus {
  outline: 0;
}

.button-attack {
  width: 120px;
  height: 30px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: red;
  color: white;
  font-size: 23px;
  font-weight: 700;
}

.button-attack:hover {
  background-color: white;
  color: red;
}

.button-defend {
  width: 120px;
  height: 30px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: green;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.button-defend:hover {
  background-color: white;
  color: green;
}

/* Maximum move fields highlighted */
.moveFieldshighlighted {
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;
}

.moveFieldshighlighted:hover {
  background-color: brown;
  opacity: 0.3;
}

#start-battle-message-wrapper {
  width: 320px;
  height: 100px;
  position: absolute;
  top: 350px;
  left: 50%;
  margin-left: -160px;
  margin-top: -50px;
  z-index: 1;
  margin: 1px solid black;
  background-image: url("../img/white.jpg");
  background-size: 100% 100%;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-battle-message {
  width: 300px;
  height: 80px;
  /* margin: 1px solid black;
  background-image: url("../img/white.jpg");
  background-size: 100% 100%; */
  border-radius: 25px;
  text-align: center;
}

/* #start-battle-message h1 {
	font-family: 'Merienda', cursive;
} */

#game-over-wrapper {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 350px;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  z-index: 1;
  margin: 1px solid black;
  background-image: url("../img/white.jpg");
  background-size: 100% 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-over {
  width: 375px;
  height: 375px;
  /* background-image: url("../img/game_over_background.jpg");
  background-size: 100% 100%; */
  /* margin: 1px solid black; */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-over h1 {
  margin-bottom: 10px;
}

#game-over h2 {
  margin: 10px 0px;
}

#game-over .player-picture {
  margin-bottom: 15px;
}

#play-again-button-container {
  height: 50px;
  display: flex;
  align-items: center;
}
